.cardsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: 280px;
    background: #ffe9ec;
    border: 2px solid #c4002f;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.cardTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imageBox img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #c4002f;
}

.cardText {
    margin-top: 10px;
    font-size: 13px;
}

.tag {
    margin-top: 10px;
    background: #fff3c4;
    padding: 5px;
    font-size: 12px;
    border-radius: 6px;
}