.timeline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin: 40px 0;
}

.timelineItem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bola {
    width: 12px;
    height: 12px;
    background: #8b0000;
    border-radius: 50%;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #ffe9ec;
    border: 2px solid #c4002f;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
}

.frase {
    margin-top: 30px;
    font-style: italic;
    text-align: center;
}