.pageContainer{
    background-color: #fdf0f2;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxedLayout {
    width: 100%;
    margin-bottom: 7rem;
    background-color: #fdf0f2;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #fffcf0;
    border-bottom: 1.5px solid #7d0f0f;
}

.logoGroup {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
}


.brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #7d0f0f;
    margin-bottom: 0.58rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.menu li {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu li:hover{
    color: #7d0f0f;
    text-decoration: underline;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    color: #7d0f0f;
    font-weight: bold;
}

.searchIcon {
    width: 1.3rem;
    color:  #7d0f0f;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 6rem;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    line-height: 1.05;
    color: #1a1a1a;
    margin-bottom: 2.5rem;
    font-weight: bolder;
}

.italicTitle {
    color:  #7d0f0f;
    font-style: italic;
    font-weight: 550;
}

.description {
    font-family: 'Playfair Display', serif;
    max-width: 48rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 3rem;
}

.highlight {
    color:  #7d0f0f;
    font-weight: 600;
}

.btnGroup {
    display: flex;
    gap: 1.2rem;
    text-decoration: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #7d0f0f;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 2.5;
    text-decoration: none;
}

/* aumenta ao passar o mouse */
.btn:hover {
    transform: scale(1.08);
}

.bookIcon {
  width: 2rem;
  height: 2rem;
  color: #7d0f0f;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 0.30rem;
}

.logoGroup:hover .bookIcon {
  transform: scale(1.2) rotate(-5deg);
  filter: drop-shadow(0 0 8px rgba(125, 15, 15, 0.3));
}

.brand {
  transition: color 0.3s ease;
}

.contentSection {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 3rem;
    padding: 4rem 6rem;
    align-items: start;
}

.badgeGroup {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.badge {
    background-color: #7d0f0f;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    color: #fdf0f2;
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}

.bookTitle {
    font-family: 'Playfair Display', serif;
    color: #7d0f0f;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.textBody {
    font-family:'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #1a1a1a;
    margin-bottom: 4rem;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #1a1a1a;
    margin: 0;
}

.quoteAuthor {
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    color: #333;
}

.imageCard {
    border: 1px solid #7d0f0f;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fdf0f2;
}

.AuthorImg, .pageImg {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.infoBox {
    background-color: #fffcf0;
    border: 1px solid #7d0f0f;
    padding: 2.2rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.9rem;
    color: #1a1a1a;
}

.bookPageCard {
    background-color: #7d0f0f;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;

}

.themeBox {
    background-color: #7d0f0f;
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.themeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.themeList {
    list-style: disc;
    padding-left: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.75rem;
}

.themeList li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}


/* NOTEBOOKS */
@media (min-width: 1366px) and (max-width: 1599px) {
    .hero {
        padding-top: 7rem;
    }

    .title {
        font-size: 5.5rem;
    }

    .description {
        max-width: 55rem;
        font-size: 1.15rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.7rem 1.5rem;
    }
}

/* DESKTOPS GRANDES */
@media (min-width: 1600px) {
    .hero {
        padding-top: 9rem;
    }

    .title {
        font-size: 6.5rem;
    }

    .description {
        max-width: 65rem;
        font-size: 1.35rem;
    }

    .btn {
        font-size: 1.15rem;
        padding: 0.85rem 2rem;
    }

    .btnGroup {
        gap: 1.8rem;
    }
}