.pageContainer{
    background-color: #fdf0f2;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.boxedLayout {
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #fdf0f2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #fffcf0;
    border-bottom: 1.5px solid #7d0f0f;
}

.logoGroup {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #7d0f0f;
    margin-bottom: 0.58rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.menu li {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu li:hover{
    color: #7d0f0f;
    text-decoration: underline;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    color: #7d0f0f;
    font-weight: bold;
}

.searchIcon {
    width: 1.3rem;
    color:  #7d0f0f;
}

.author {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    line-height: 0.6;
    color: #1a1a1a;
    font-weight: bold;
}

.italicTitle {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    color:  #7d0f0f;
    font-style: italic;
    font-weight: bold;
}

.description {
    font-family: 'Playfair Display', serif;
    max-width: 42rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 3rem;
}

.highlight {
    color:  #7d0f0f;
    font-weight: 600;
}

.btnGroup {
    display: flex;
    gap: 1.2rem;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #7d0f0f;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 2.5;
}

.btn:hover {
    transform: scale(1.08);
}

.bookIcon {
  width: 2rem;
  height: 2rem;
  color: #7d0f0f;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 0.30rem;
}

.logoGroup:hover .bookIcon {
  transform: scale(1.2) rotate(-5deg);
  filter: drop-shadow(0 0 8px rgba(125, 15, 15, 0.3));
}

.brand {
  transition: color 0.3s ease;
}

.contentSection {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 3rem;
    padding: 4rem 3rem;
    align-items: start;
}


.badgeGroup {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.badge {
    background-color: #d9d9d9;
    padding: 0.4rem 1.5rem;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    color: #7d0f0f;
    font-weight: bold;
    font-size: 0.9rem;
}

.bookTitle {
    font-family: 'Playfair Display', serif;
    color: #7d0f0f;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.textBody {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #1a1a1a;
    margin-bottom: 4rem;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #1a1a1a;
    margin: 0;
    line-height: 2rem;
    margin-top: 5rem;
}

.quoteAuthor {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    color: #333;
    line-height: 11.7rem;
}


.imageCard {
    border: 1px solid #7d0f0f;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fdf0f2;
}

.profileImg, .pageImg {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.infoBox {
    background-color: #fffcf0;
    border: 1px solid #7d0f0f;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #1a1a1a;
}


.bookPageCard {
    background-color: #7d0f0f;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.themeBox {
    background-color: #7d0f0f;
    color: white;
    padding: 2.5rem;
    border-radius: 10px;
}

.themeTitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.themeList {
    list-style: disc;
    padding-left: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.themeList li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}


.footerBottom {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #ead6d9;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #333;
    margin-top: auto;
}
